project\arknights-like\Assets\_External/*
project\arknights-like\Assets\_External.meta
project\arknights-like\Assets\Models/*
project\arknights-like\Assets\Models.meta
project\bangdream_clone\Assets\Sprite/*
project\bangdream_clone\Assets\Sprite.meta
project\bangdream_clone\Assets\Effect/*
project\bangdream_clone\Assets\Effect.meta
project\bangdream_clone\Assets\Sound/*
project\bangdream_clone\Assets\Sound.meta